<ion-toolbar>
  <ion-header>
    <ion-navbar>
      <ion-title>Cadastre-se</ion-title>
    </ion-navbar>
  </ion-header>
</ion-toolbar>

<ion-content>
  <ion-grid class="content-profile">
    <form [formGroup]="formUsuario" (ngSubmit)="salvarUsuario();">
      <ion-row>
        <ion-col col-12 *ngIf="error">
          <ion-item>
            <p class="error">Os dados informados estão invalidos</p>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <div class="home-content-input">
            <ion-item>
              <ion-label floating>Nome</ion-label>
              <ion-input type="text" spellcheck="false" autocapitalize="off" formControlName="nome"></ion-input>
            </ion-item>
            <ion-item *ngIf="formUsuario.get('nome').errors && formUsuario.get('nome').dirty">
              <p class="error" *ngIf="formUsuario.get('nome').hasError('required')">Campo Obrigatório</p>
            </ion-item>
            <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input type="email" spellcheck="false" autocapitalize="off" formControlName="email"></ion-input>
            </ion-item>
            <ion-item *ngIf="formUsuario.get('email').errors && formUsuario.get('email').dirty">
              <p class="error" *ngIf="formUsuario.get('email').hasError('required')">Campo Obrigatório</p>
            </ion-item>
          </div>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>Senha admin</ion-label>
            <ion-input type="password" spellcheck="false" autocapitalize="off" formControlName="senha"></ion-input>
          </ion-item>
          <ion-item *ngIf="formUsuario.get('senha').errors && formUsuario.get('senha').dirty">
            <p class="error" *ngIf="formUsuario.get('senha').hasError('required')">Campo Obrigatório</p>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>Endereço</ion-label>
            <ion-input type="text" spellcheck="false" autocapitalize="off" formControlName="endereco"></ion-input>
          </ion-item>
          <ion-item *ngIf="formUsuario.get('endereco').errors && formUsuario.get('endereco').dirty">
            <p class="error" *ngIf="formUsuario.get('endereco').hasError('required')">Campo Obrigatório</p>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <button block ion-button [disabled]="formUsuario.invalid" class="btn-rfsolution-primary btn-login" type="submit">
            salvar
          </button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
