<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<div class="content-home">
  <div class="home-title">
    <span>RFSOLUTION</span>
  </div>
  <div class="home-content">
    <form [formGroup]="formUsuario" (ngSubmit)="Login();">
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <div class="home-content-input">
              <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="email" spellcheck="false" autocapitalize="off" formControlName="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Senha</ion-label>
                <ion-input type="password" spellcheck="false" autocapitalize="off" formControlName="senha"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="link-forgot" col-5>
            <a href="#">Esqueci minha senha</a>
          </ion-col>
          <ion-col col-7>
            <button block ion-button icon-start class="btn-rfsolution-primary btn-login" [disabled]="formUsuario.invalid"
              type="button" (click)="Login()">
              <ion-icon name="log-in"></ion-icon>
              Entrar
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
  <div class="home-footer">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <div class="btn-register">
            <button id="home-button" ion-button icon-start outline block color="light" (click)="OpenFacebook()">
              <ion-icon name="logo-facebook"></ion-icon>
              Conectar via Facebook
            </button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <div class="btn-register">
            <button id="home-button" ion-button icon-start outline block color="light" (click)="NewProfile()">
              <ion-icon name="mail"></ion-icon>
              Ainda não sou Cadastrado
            </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
