<ion-header id="header">
  <ion-navbar>
    <ion-title>Detalhes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear color="light" (click)="cancel()">
        <ion-icon name="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content id="content">
  <form [formGroup]="formContato" (ngSubmit)="save();">
    <div class="card-well">
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label  floating>Email</ion-label>
              <ion-input type="text" spellcheck="false" autocapitalize="off" formControlName="email" [disabled]="true"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-12>
            <ion-item>
              <ion-label floating>Data</ion-label>
              <ion-input type="text" spellcheck="false" autocapitalize="off" formControlName="data" [disabled]="true"></ion-input>

            </ion-item>
          </ion-col>
          <ion-col col-12>
            <ion-item>
              <ion-label floating>Assunto</ion-label>
              <ion-input type="text" spellcheck="false" autocapitalize="off" formControlName="assunto" [disabled]="true"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-12>
            <ion-item>
              <ion-label floating>Descrição</ion-label>
              <ion-textarea maxLength="500" type="text" spellcheck="false" autocapitalize="off" formControlName="descricao"
                [disabled]="true"></ion-textarea>

            </ion-item>
          </ion-col>
          <ion-col col-12>
            <ion-item>
              <ion-label floating>Parecer</ion-label>
              <ion-input type="text" spellcheck="false" autocapitalize="off" formControlName="parecer"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <button block ion-button outline icon-start type="button" (click)="save()" [disabled]="formContato.invalid">
              Salvar
            </button>
          </ion-col>
          <ion-col col-6>
            <button block ion-button outline icon-start color="danger" type="button" (click)="cancel()">
              Cancelar
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-content>
