page-contactInfo {
  body {
    background-color: #F0ECDC;
  }

  ion-toolbar.toolbar {
    padding: 0;
  }

  ion-grid {
    padding: 0px !important;
  }



  ion-content {
    background-color: #F0ECDC;
    padding: 10%;
  }

  .toolbar-background-ios {
    background-color: #ff6700;

  }

  .toolbar-background {
    background-color: #ff6700;
  }



  .scroll-contactInfo {
    width: 100%;
    height: 500px;

  }


  ::-webkit-scrollbar-track {
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: #F5F5F5 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
  }

  .scroll-content {
    padding: 5px;

  }

  .toolbar-md {
    padding: 0px;
    min-height: 56px;
  }

  .toolbar-title-ios {
    color: white !important;
  }

  .toolbar-title {
    color: white;
    background: #ff6700;
  }

  .back-button-ios {
    color: white !important;
  }

  .back-button {
    color: white !important;
  }

  .card-header {
    color: white;
    padding: 5px;
    text-align: center;
    background: #2ec400;
  }

  .card-header.danger {

    background: #c42e00;
  }

  .card-well {
    padding: 5px;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);


    .item.item-input {
      color: rgb(114, 114, 114) !important;
      padding: 0;
      background-color: transparent;

      ion-label {
        color: rgb(114, 114, 114);
      }
    }

    ion-label {
      margin: 0 !important;
    }

    .item-input-has-focus .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating] {
      color: rgb(114, 114, 114) !important;
      border-bottom-color: rgb(114, 114, 114);
    }

    .item-md.item-input.input-has-focus .item-inner {
      border-bottom-color: rgb(114, 114, 114) !important;
      box-shadow: none !important;
    }
  }

}
