<ion-header>
  <ion-navbar>
    <ion-title>Contatos Realizado</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngFor="let card of cardList">
    <div class="card-header" [ngClass]="{'danger': !card.status}">
      <span>Contato Pendente de Interação</span>
    </div>
    <div class="card-well">
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input type="text" disabled="true" [(ngModel)]="card.email"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-12>
            <ion-item>
              <ion-label floating>Data</ion-label>
              <ion-input type="text" disabled="true" [(ngModel)]="card.data"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-12>
            <ion-item>
              <ion-label floating>Assunto</ion-label>
              <ion-input type="text" disabled="true" [(ngModel)]="card.subject"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-12>
            <button *ngIf="!card.status" block ion-button outline icon-start color="danger" type="button" (click)="details(card._id)">
              Detalhes
            </button>
            <ion-item *ngIf="card.status">
              <ion-label floating>Parecer</ion-label>
              <ion-input type="text" disabled="true" [(ngModel)]="card.opinion"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
