page-login {
  body {
    overflow: hidden;
  }

  .no-scroll {
    scroll-content {
      overflow-y: hidden;
    }
  }

  .scroll {
    scroll-content {
      overflow-y: scroll;
    }
  }

  #title {
    background-color: #151c4a;
    text-align: center;
  }

  .button-md-secondary {
    background-color: #488aff;
  }

  #login-button {
    font-size: 1.8rem;
  }

  .button-ios-secondary {
    background-color: #488aff;
  }

  .button-ios {
    margin: -0.9rem 0.2rem;
    font-size: 1.9rem;
  }

  .button-md {
    height: 4.9rem;
    font-size: 1.7rem;
  }

  .btn-register {
    text-align: center;

    .button-ios {
      margin-bottom: 20px;
    }
  }

  .btn-synchronize {
    text-align: center;
    margin-top: 45px;
  }

  .img-register {
    text-align: center;
    margin-top: -13px;
  }


  img.image-header {
    width: 50%;
  }

  .logo-club-content {
    padding: 0% !important;
    // position:absolute;
    // text-align: center;
  }

  .text-login {
    font-family: "Corbel", sans-serif !important;
    text-align: center !important;
    font-size: 32px !important;
    color: white;
    margin-top: 30%;
    position: absolute;
  }


  .content-login {
    position: relative;
    height: 100%;
    background-color: #ff6700;
    background: filter-gradient(#ff6700, #ff6700, horizontal);
    background: background-image(linear-gradient(left top, #ff6700 0%, #ff6700 100%));
  }

  .login-title {
    text-align: center;
    padding: 10% 0px 10% 0;
    width: 100%;

    span {
      font-weight: bold;
      color: white;
      font-size: 5rem;
      font-family: "adobe-clean", sans-serif !important;
      vertical-align: baseline;
      resize: none;
    }
  }

  img .content-login {
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100% !important;
    bottom: 0;
    /* color: black; */
    left: 0;
    overflow: auto;
    padding: 3em;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
  }

  .toolbar-content.toolbar-content-md {
    background-color: #e9e9e9;
  }

  .toolbar-ios {
    padding: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    min-height: 44px;
  }

  .toolbar-md {
    padding: 0px;
    min-height: 56px;
  }

  .rectangle {
    width: 100%;
    // height: 0%;
    background-color: #151c4a;
  }

  .img-logo {
    width: 7%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 4%;
  }

  .align-footer {
    transform: translateX(31%);
  }

  .text-footer {
    font-family: "CorpoS" !important;
    text-align: center !important;
    font-size: 15px !important;
    color: white;
  }

  .link-color {
    color: black;
  }


  .link-forgot {
    text-align: center;
    line-height: 55px;

    a {
      color: white;
      font-size: 12px;
    }
  }

  .item.item-input {
    color: white !important;
    padding: 0;
    background-color: transparent;

    ion-label {
      color: white;
    }
  }

  .item-input-has-focus .label-md[stacked],
  .input-has-focus .label-md[stacked],
  .item-input-has-focus .label-md[floating],
  .input-has-focus .label-md[floating] {
    color: white !important;
    border-bottom-color: white;
  }

  .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: white !important;
    box-shadow: none !important;
  }

  .item-ios {
    padding-left: 0px;
  }

  .login-content {
    text-align: center;
    height: 230px;

    .login-content-input {
      color: white;
      margin-bottom: 10px;
    }
  }

  .button-ios.btn-rfsolution-primary {
    background-color: #33365f !important;

  }

  .button-default {
    background-color: #33365f !important;
  }

  .button-ios.btn-rfsolution-primary.activated {
    background-color: #4b5090;
    opacity: 1;
  }

  .btn-login {
    box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.29);
  }

  .login-footer {
    width: 100%;
    // position: fixed;
  }
}
