<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<div class="content-login">
  <div class="login-title">
    <span>RFSOLUTION</span>
  </div>
  <div class="login-footer">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <div class="btn-register">
            <button id="login-button" ion-button icon-start outline block color="light" (click)="OpenFacebook()">
              <ion-icon name="logo-facebook"></ion-icon>
              Entrar com o Facebook
            </button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 text-center>
          <ion-col class="link-forgot">
            <a href="#" (click)="Home()">Não tenho facebook</a>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
