<ion-toolbar>
  <div class="header-feed">
    <ion-grid>
      <ion-row>
        <ion-col col-12 text-center>
          <span>RFSOLUTION</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="sub-header-feed">
    <ion-grid>
      <ion-row>
        <ion-col col-1 text-center>
          <ion-icon menuToggle name="more"></ion-icon>
        </ion-col>
        <ion-col col-11 text-right>
          <span class="count">{{countAguardando}}</span>
          <ion-icon name="notifications"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-toolbar>
<ion-content>

  <div class="content-feed">
    <ion-row>
      <ion-col col-12>
        <div (click)="ContactInfo()" class="card-counter danger ">
          <ion-icon name="trophy"></ion-icon>
          <span class="count-numbers">{{countAguardando}}</span>
          <span class="count-name">Contato(s) realizado</span>
        </div>
      </ion-col>
      <ion-col col-12>
        <div (click)="ContactInfo()" class="card-counter primary">
          <ion-icon name="calendar"></ion-icon>
          <span class="count-numbers">{{countHoje}}</span>
          <span class="count-name">Contato(s) realizado hoje</span>
        </div>
      </ion-col>
      <ion-col col-12>
        <div (click)="ContactInfo()" class="card-counter success">
          <ion-icon name="checkmark"></ion-icon>
          <span class="count-numbers">{{countValidado}}</span>
          <span class="count-name">Contato(s) respondido</span>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer>
</ion-footer>
