page-feed {
  body {
    background-color: #F0ECDC;
  }

  ion-toolbar.toolbar {
    padding: 0;
  }

  ion-content {
    background-color: #F0ECDC;
  }

  .toolbar-background {
    background-color: #F0ECDC;
  }

  .content-feed {
    margin-top: 107px;
    background-color: #F0ECDC;
  }

  .scroll-feed {
    width: 100%;
    height: 500px;

  }


  // ::-webkit-scrollbar-track {
  //   border-radius: 0px !important;
  // }

  // ::-webkit-scrollbar {
  //   height: 0px;
  //   width: 0px;
  //   background-color: #F5F5F5 !important;
  // }

  // ::-webkit-scrollbar-thumb {
  //   border-radius: 0px !important;
  // }

  .header-feed {
    width: 100%;
    background-color: #ff6700;

    .input-sarch {
      padding: 5px;
      background-color: white;
      border-radius: 5px;
      width: 100%;
      height: 100%;

      ion-col {
        padding: 0;
      }

      ion-icon {
        color: #151c4a;
        font-size: 30px;
      }
    }

    span {
      font-weight: bold;
      font-family: "adobe-clean", sans-serif !important;
      color: white;
      font-size: 32px;
    }
  }
}

.sub-header-feed {
  background-color: white;
  padding: 5px;
  margin-top: 2px;
  border-bottom: 1px solid #dadada;

  ion-grid {
    padding: 0 10px 0 0;
  }

  ion-icon {
    color: #151c4a;
    font-size: 32px;
  }

  ion-col {
    padding: 0;
  }

  .count {
    font-weight: bold;
    padding: 1px 5px 1px 5px;
    color: #ff6700;
    font-size: 15px;
    left: 35px;
    top: -20px;
    position: relative;
  }
}


::-webkit-scrollbar-track {
  border-radius: 0px !important;
}

::-webkit-scrollbar {
  height: 0px;
  background-color: #F5F5F5 !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px !important;
}

.card-counter {
  box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: .3s linear all;
}

.card-counter:hover {
  box-shadow: 4px 4px 20px #DADADA;
  transition: .3s linear all;
}

.card-counter.primary {
  background-color: #007bff;
  color: #FFF;
}

.card-counter.danger {
  background-color: #ef5350;
  color: #FFF;
}

.card-counter.success {
  background-color: #66bb6a;
  color: #FFF;
}

.card-counter.info {
  background-color: #26c6da;
  color: #FFF;
}

.card-counter {
  ion-icon {
    font-size: 5em;
    opacity: 0.2;
  }
}

.card-counter .count-numbers {
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 32px;
  display: block;
}

.card-counter .count-name {
  position: absolute;
  right: 35px;
  top: 65px;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 18px;
}
