<ion-toolbar>
  <ion-header>
    <ion-navbar>
      <ion-title>Notificações</ion-title>
    </ion-navbar>
  </ion-header>
</ion-toolbar>

<ion-content>
  <div class="content-notification">
    <ion-grid>
      <ion-row class="card lottery">
        <ion-col col-3>
          <div class="img-profile not-open">
            <img src="https://bit.ly/2OUSuIf" />
          </div>
        </ion-col>
        <ion-col col-9 text-left>
          <p class="title">Play Food</p>
          <p class="description">publicou um sorteio!</p>
          <p class="date">08/11/18 - 10:00</p>
        </ion-col>
      </ion-row>

      <ion-row class="card promotion">
        <ion-col col-3>
          <div class="img-profile not-open">
            <img src="https://bit.ly/2pQEzEN" />
          </div>
        </ion-col>
        <ion-col col-9 text-left>
          <p class="title">Simply FOOD</p>
          <p class="description">Publicou uma Promoção!</p>
          <p class="date">08/11/18 - 09:30</p>
        </ion-col>
      </ion-row>

      <ion-row class="card exclusive">
        <ion-col col-3>
          <div class="img-profile not-open">
            <img src="https://bit.ly/2Edfqyd" />
          </div>
        </ion-col>
        <ion-col col-9 text-left>
          <p class="title">Rural Food</p>
          <p class="description">publicou uma exclusiva prara você!</p>
          <p class="date">08/11/18 - 13:50</p>
        </ion-col>
      </ion-row>

      <ion-row class="card gift">
        <ion-col col-3>
          <div class="img-profile">
            <img src="https://bit.ly/2NyaXWo" />
          </div>
        </ion-col>
        <ion-col col-9 text-left>
          <p class="title">Fit Food</p>
          <p class="description">publicou um presente para você!</p>
          <p class="date">08/11/18 - 13:50</p>
        </ion-col>
      </ion-row>

      <ion-row class="card promotion">
        <ion-col col-3>
          <div class="img-profile">
            <img src="https://bit.ly/2NAZN2U" />
          </div>
        </ion-col>
        <ion-col col-9 text-left>
          <p class="title">Mineiro Food</p>
          <p class="description">Publicou uma Promoção!</p>
          <p class="date">07/11/18 - 21:20</p>
        </ion-col>
      </ion-row>

      <ion-row class="card lottery">
        <ion-col col-3>
          <div class="img-profile">
            <img src="https://bit.ly/2pQEzEN" />
          </div>
        </ion-col>
        <ion-col col-9 text-left>
          <p class="title">Simply FOOD</p>
          <p class="description">publicou um sorteio!</p>
          <p class="date">07/11/18 - 19:00</p>
        </ion-col>
      </ion-row>

      <ion-row class="card exclusive">
        <ion-col col-3>
          <div class="img-profile">
            <img src="https://bit.ly/2Edfqyd" />
          </div>
        </ion-col>
        <ion-col col-9 text-left>
          <p class="title">Rural Food</p>
          <p class="description">publicou uma exclusiva prara você!</p>
          <p class="date">07/11/18 - 12:40</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
