page-notification {
  body {
    background-color: #F0ECDC;
  }

  ion-toolbar.toolbar {
    padding: 0;
  }

  ion-content {
    background-color: #F0ECDC;
  }

  .toolbar-background-ios {
    background-color: #ff6700;

  }

  .toolbar-background {
    background-color: #ff6700;
  }



  .scroll-notification {
    width: 100%;
    height: 500px;

  }


  ::-webkit-scrollbar-track {
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: #F5F5F5 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
  }



  .toolbar-md {
    padding: 0px;
    min-height: 56px;
  }

  .toolbar-title-ios {
    color: white !important;
  }

  .toolbar-title {
    color: white;
    background: #ff6700;
  }

  .back-button-ios {
    color: white !important;
  }

  .back-button {
    color: white !important;
  }

  .content-notification {
    margin-top: 55px;

    .card {
      margin: 5px 0px 5px 0px;
      background: white;
      padding: 5px;
      color: #33365F;
      box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.55);

      .img-profile {
        margin: auto;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        box-shadow: 0 0 5px gray;
        padding: 2px;
        border: 3px solid rgb(167, 167, 167);

        img {
          text-align: center;
          height: 60px;
          width: 60px;
          border: 2px solid #fff;
          border-radius: 50%;
          display: inline-block;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .img-profile.not-open {
        border: 3px solid #ff6700;
      }

      p {
        margin: 0;
      }

      .title {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 16px;
      }

      .date {
        font-size: 12px;
        color: #ff6700;
        margin-top: 10px;
        text-align: right;
      }
    }

    .card.promotion {
      border-top: 5px solid #46BFBF;
    }

    .card.exclusive {
      border-top: 5px solid #ff6700;
    }

    .card.gift {
      border-top: 5px solid #5A60B1;
    }

    .card.lottery {
      border-top: 5px solid #27AE60;
    }

    .card.publish {
      border-top: 5px solid #33365F;
    }
  }
}
