<ion-menu [content]="content" id="menu-material">
  <ion-content>

    <ion-list no-lines>
      <button menuClose="left" [ngClass]="{'active': p.active}" ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
